<div class="col-md-7 col-lg-8">
  <h4 class="mb-3">請求先住所</h4>
  <form class="needs-validation" novalidate>
    <div class="row g-3">
      <div class="col-sm-6">
        <label for="firstName" class="form-label">名</label>
        <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
        <div class="invalid-feedback">
          有効な名前が必要です。
        </div>
      </div>
      <div class="col-sm-6">
        <label for="lastName" class="form-label">姓</label>
        <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
        <div class="invalid-feedback">
          有効な姓が必要です。
        </div>
      </div>
      <div class="col-12">
        <label for="username" class="form-label">ユーザー名</label>
        <div class="input-group has-validation">
          <span class="input-group-text">@</span>
          <input type="text" class="form-control" id="username" placeholder="ユーザー名" required>
          <div class="invalid-feedback">
            ユーザー名が必要です。
          </div>
        </div>
      </div>
      <div class="col-12">
        <label for="email" class="form-label">メール <span class="text-body-secondary">(任意)</span></label>
        <input type="email" class="form-control" id="email" placeholder="you@example.com">
        <div class="invalid-feedback">
          配送の更新のために有効なメールアドレスを入力してください。
        </div>
      </div>
      <div class="col-12">
        <label for="address" class="form-label">住所</label>
        <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
        <div class="invalid-feedback">
          配送先住所を入力してください。
        </div>
      </div>
      <div class="col-12">
        <label for="address2" class="form-label">住所 2 <span class="text-body-secondary">(任意)</span></label>
        <input type="text" class="form-control" id="address2" placeholder="マンション名・部屋番号">
      </div>
      <div class="col-md-5">
        <label for="country" class="form-label">国</label>
        <select class="form-select" id="country" required>
          <option value="">選択...</option>
          <option>アメリカ合衆国</option>
        </select>
        <div class="invalid-feedback">
          有効な国を選択してください。
        </div>
      </div>
      <div class="col-md-4">
        <label for="state" class="form-label">都道府県</label>
        <select class="form-select" id="state" required>
          <option value="">選択...</option>
          <option>カリフォルニア</option>
        </select>
        <div class="invalid-feedback">
          有効な都道府県を選択してください。
        </div>
      </div>
      <div class="col-md-3">
        <label for="zip" class="form-label">郵便番号</label>
        <input type="text" class="form-control" id="zip" placeholder="" required>
        <div class="invalid-feedback">
          郵便番号が必要です。
        </div>
      </div>
    </div>
    <hr class="my-4">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="same-address">
      <label class="form-check-label" for="same-address">配送先住所は請求先住所と同じです</label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="save-info">
      <label class="form-check-label" for="save-info">次回のためにこの情報を保存する</label>
    </div>
    <hr class="my-4">
    <h4 class="mb-3">支払い方法</h4>
    <div class="my-3">
      <div class="form-check">
        <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
        <label class="form-check-label" for="credit">クレジットカード</label>
      </div>
    </div>
    <div class="row gy-3">
      <div class="col-md-6">
        <label for="cc-name" class="form-label">カード上の名前</label>
        <input type="text" class="form-control" id="cc-name" placeholder="" required>
        <small class="text-body-secondary">カードに表示されている通りのフルネーム</small>
        <div class="invalid-feedback">
          カード上の名前が必要です
        </div>
      </div>
      <div class="col-md-6">
        <label for="cc-number" class="form-label">クレジットカード番号</label>
        <input type="text" class="form-control" id="cc-number" placeholder="" required>
        <div class="invalid-feedback">
          クレジットカード番号が必要です
        </div>
      </div>
      <div class="col-md-3">
        <label for="cc-expiration" class="form-label">有効期限</label>
        <input type="text" class="form-control" id="cc-expiration" placeholder="MM/YY" required>
        <div class="invalid-feedback">
          有効期限が必要です
        </div>
      </div>
      <div class="col-md-3">
        <label for="cc-cvv" class="form-label">CVV</label>
        <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
        <div class="invalid-feedback">
          セキュリティコードが必要です
        </div>
      </div>
    </div>

    <hr class="my-4">
    <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
  </form>
</div>
</div>
</main>
<footer class="my-5 pt-5 text-body-secondary text-center text-small">
  <p class="mb-1">&copy; 2017-2023 Company Name</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="#">Privacy</a></li>
    <li class="list-inline-item"><a href="#">Terms</a></li>
    <li class="list-inline-item"><a href="#">Support</a></li>
  </ul>
</footer>
</div>
